
/* #addGym {
border: none
} */


textarea {
  border-radius: 10px;
	width: 80%;
	height: 185px;
	resize: none;
	/* margin-left: 10%; */
	font-size: 18px;
}

textarea:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.signAuthForm {
  display:flex;
  align-items: center;
  justify-content: center;  
  margin: 8em auto;
  width: 380px;
  max-width:380;
  background: rgba(181, 181, 181, 0.92);
  text-align:center;
  border: 2px solid #40413f;
  box-shadow: 5px 5px 2.5px grey;
  border-radius: 20px;
}

#gymForm input {
  /* position: fixed; */
  display: inline-block;
  width: 13rem;
  padding: 0.25rem;
  max-width: 70%
}

.authForm input {
  width: 16rem;
  padding: 0.5rem;
  max-width: 85%
}

.authForm label{
  display: inline-block;
  width: 6rem;
  vertical-align: top;
  padding: 0.5rem;
  text-align: center;
}

.signAuthForm label {
  display: inline-block;
  width: 6rem;
  vertical-align: top;
  padding: 0.5rem;
  text-align: center;
}

.signAuthForm input {
  display: inline-block;
  width: 16rem;
  vertical-align: top;
  padding: 0.5rem;
  text-align: center;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

