body {
  background-color: #eee9db;
  font-family: "Oxygen", "Trebuchet MS", Arial, sans-serif;
  color: #41392f;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  background-color: #eee9db;
  font-family: "Oxygen", "Trebuchet MS", Arial, sans-serif;
  color: #41392f;
}


.authForm {
  display:flex;
  align-items: center;
  justify-content: center;  
  margin: 4em auto;
  width: 50%;
  background: rgba(181, 181, 181, 0.92);
  text-align:center;
  border: 2px solid #40413f;
}

a {
	text-decoration: none;

}

button {
  padding: 10px 23px;
  border-radius: 5px;
  border: 2px solid #40413f;
  background-color:transparent;
  color: #000000;
  font-size: 1.375em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
  margin: .25em;
}

.button {
  padding: 10px 23px;
  border-radius: 5px;
  border: 2px solid #40413f;
  background-color:transparent;
  color: #000000;
  font-size: 1.375em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
  margin: .25em;
}

.button:hover {
  color: rgb(135, 135, 135);
  background-color: #757674;
  border: 2px solid #616161;
}

button:hover {
  color: rgb(135, 135, 135);
  background-color: #757674;
  border: 2px solid #616161;
}


