.searchbar{
  border-radius: 9px;
  width: 12rem;
  padding: 0.3rem;
  max-width: 85%;
}



.cards {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.card, #card {
  padding: 20px 40px;
  flex: 0 1 24%;
  border: 2px solid #40413f;
  box-shadow: 5px 5px 2.5px grey;
  border-radius: 20px;
  background: transparent;
  flex: 0 1 calc(25% - 1em);
}

.gym{
  color: #41392f;
  background-color:transparent;
  border: none;
  text-decoration:underline dotted;
  box-shadow: none;
}

.gym:hover{
  color: 41392f;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.art{
  border: 3px solid #40413f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #eee9db;
  font-family: "Oxygen", "Trebuchet MS", Arial, sans-serif;
  color: #41392f;
}

.authForm {
  display:flex;
  align-items: center;
  justify-content: center;  
  margin: 15em auto;
  width: 380px;
  max-width:380;
  background: rgba(181, 181, 181, 0.92);
  text-align:center;
  border: 2px solid #40413f;
  box-shadow: 5px 5px 2.5px grey;
  border-radius: 20px;
}

a {
	text-decoration: none;
}

button {
  padding: 10px 23px;
  border-radius: 20px;
  border: 2px solid #40413f;
  background-color:transparent;
  color: #000000;
  font-size: 1.375em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
  margin: .25em;
}

.button {
  padding: 10px 23px;
  border-radius: 20px;
  border: 2px solid #40413f;
  background-color:transparent;
  color: #000000;
  font-size: 1.375em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color .15s ease-in-out, border .15s ease-in-out, color .15s ease-in-out;
  margin: .25em;
}

.button:hover {
  color: rgb(255, 255, 255);
  background-color: #757674;
  border: 2px solid #616161;
  box-shadow: 5px 5px 2.5px grey;
}

a, button:hover {
  color: rgb(255, 255, 255);
  background-color: #757674;
  border: 2px solid #616161;
  box-shadow: 10px 10px 5px grey;
}

a:hover {
  color: gray;
  background-color: #757674;
  border: 2px solid #c1c1c1;
  box-shadow: 4px 4px 2px grey;
  transform: translateY(-3px);
}
